body{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

p{
    font-size: 30px;
    font-weight: bold;
}

.main-body{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px;
    align-items: center;
}

.setting-bar{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.drawing-board{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    max-height: 500px;
    min-width: 500px;
    min-height: 500px;
    justify-content: stretch;
    align-items: stretch;
}

.grid{
    border: 1px solid black;
    flex: 1 1 auto;
}

.row{
    display: flex;
    flex: 1 1 auto;
}